[class^="iconweb-"],
[class*=" iconweb-"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  *margin-left: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(img/Icon.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="iconweb-"]:first-child,
[class*=" iconweb-"]:first-child {
  *margin-left: 0;
}

[class^="iconweb-"].mini ,
[class*=" iconweb-"].mini {
    height:25px;
    width:25px;
}

.iconweb-froum {
  background-position: 0      0;
}

.iconweb-video {
  background-position: -30px      0;
}

.iconweb-headphone {
  background-position: -60px      0;
}

.iconweb-image {
  background-position: -90px      0;
}

.iconweb-texts {
  background-position: -120px      0;
}

.iconweb-mycity {
  background-position: -150px      0;
}

.iconweb-mywall {
  background-position: -180px      0;
}

.iconweb-languages {
  background-position: -210px      0;
}

.iconweb-humorous {
  background-position: -240px      0;
}

.iconweb-sketches {
  background-position: -270px      0;
}

.iconweb-camera {
  background-position: 0      -30px;
}

.iconweb-inky {
  background-position: -30px      -30px;
}

.iconweb-hispeople {
  background-position: -60px      -30px;
}

.iconweb-literature {
  background-position: -90px      -30px;
}

.iconweb-movies {
  background-position: -120px      -30px;
}

.iconweb-drama {
  background-position: -150px      -30px;
}

.iconweb-music {
  background-position: -180px      -30px;
}

.iconweb-song {
  background-position: -210px      -30px;
}

.iconweb-animal {
  background-position: -240px      -30px;
}

.iconweb-sport {
  background-position: -270px      -30px;
}

.iconweb-cake {
  background-position: 0      -60px;
}

.iconweb-folder {
  background-position: -30px      -60px;
}

.iconweb-pencil {
  background-position: -60px      -60px;
}

.iconweb-event {
  background-position: -90px      -60px;
}

.iconweb-other {
  background-position: -120px      -60px;
}

.iconweb-phone {
  background-position: -150px      -60px;
}

.iconweb-sun {
  background-position: -180px      -60px;
}

.iconweb-star {
  background-position: -210px      -60px;
}

.iconweb-man {
  background-position: -240px      -60px;
}

.iconweb-women {
  background-position: -270px      -60px;
}

.iconweb-cites {
  background-position: 0      -90px;
}

.iconweb-car {
  background-position: -30px      -90px;
}

.iconweb-crayons {
  background-position: -60px      -90px;
}

.iconweb-water {
  background-position: -90px      -90px;
}

.iconweb-stories {
  background-position: -120px      -90px;
}

.iconweb-messages {
  background-position: -150px      -90px;
}

.iconweb-lyrics {
  background-position: -180px      -90px;
}

.iconweb-jokes {
  background-position: -210px      -90px;
}

.iconweb-quotes {
  background-position: -240px      -90px;
}

.iconweb-info {
  background-position: -270px      -90px;
}

.iconweb-setting {
  background-position: 0      -120px;
}

.iconweb-situation {
  background-position: -30px      -120px;
}

.iconweb-out {
  background-position: -60px      -120px;
}

.iconweb-blue-video {
  background-position: -90px      -120px;
}

.iconweb-blue-headphone {
  background-position: -120px      -120px;
}

.iconweb-blue-image {
  background-position: -150px      -120px;
}

.iconweb-blue-text {
  background-position: -180px      -120px;
}

.iconweb-blue-hispeople {
  background-position: -210px      -120px;
}

.iconweb-blue-drama {
  background-position: -240px      -120px;
}

.iconweb-blue-abuses {
  background-position: -270px      -120px;
}

.iconweb-comment {
  background-position: -0px      -150px;
}

.iconweb-globe {
  background-position: -30px      -150px;
}

.iconweb-friend {
  background-position: -60px      -150px;
}

.iconweb-view {
  background-position: -90px      -150px;
}

.iconweb-good {
  background-position: -120px      -150px;
}

.iconweb-most {
  background-position: -150px      -150px;
}

.iconweb-owner {
  background-position: -180px      -150px;
}

.iconweb-flag-arabic{
    background-position: -210px      -150px;
}

.iconweb-flag-english{
    background-position: -240px      -150px;
}

.iconweb-flag-france{
    background-position: -270px      -150px;
}

.iconweb-about {
  background-position: 0      -180px;
}

.iconweb-conditions {
  background-position: -40px      -180px;
}

.iconweb-contact {
  background-position: -80px      -180px;
}

.iconweb-howto {
  background-position: -120px      -180px;
}

.iconweb-privacy {
  background-position: -160px      -180px;
}

.iconweb-froum.mini {
  background-position: -2.5px      -2.5px;
}

.iconweb-video.mini {
  background-position: -32.5px      -2.5px;
}

.iconweb-headphone.mini {
  background-position: -62.5px      -2.5px;
}

.iconweb-image.mini {
  background-position: -92.5px      -2.5px;
}

.iconweb-texts.mini {
  background-position: -122.5px      -2.5px;
}

.iconweb-mycity.mini {
  background-position: -152.5px      -2.5px;
}

.iconweb-mywall.mini {
  background-position: -182.5px      -2.5px;
}

.iconweb-languages.mini {
  background-position: -212.5px      -2.5px;
}

.iconweb-humorous.mini {
  background-position: -242.5px      -2.5px;
}

.iconweb-sketches.mini {
  background-position: -272.5px      -2.5px;
}

.iconweb-camera.mini {
  background-position: -2.5px      -32.5px;
}

.iconweb-inky.mini {
  background-position: -32.5px      -32.5px;
}

.iconweb-hispeople.mini {
  background-position: -62.5px      -32.5px;
}

.iconweb-literature.mini {
  background-position: -92.5px      -32.5px;
}

.iconweb-movies.mini {
  background-position: -122.5px      -32.5px;
}

.iconweb-drama.mini {
  background-position: -152.5px      -32.5px;
}

.iconweb-music.mini {
  background-position: -182.5px      -32.5px;
}

.iconweb-song.mini {
  background-position: -212.5px      -32.5px;
}

.iconweb-animal.mini {
  background-position: -242.5px      -32.5px;
}

.iconweb-sport.mini {
  background-position: -272.5px      -32.5px;
}

.iconweb-cake.mini {
  background-position: -2.5px      -62.5px;
}

.iconweb-folder.mini {
  background-position: -32.5px      -62.5px;
}

.iconweb-pencil.mini {
  background-position: -62.5px      -62.5px;
}

.iconweb-event.mini {
  background-position: -92.5px      -62.5px;
}

.iconweb-other.mini {
  background-position: -122.5px      -62.5px;
}

.iconweb-phone.mini {
  background-position: -152.5px      -62.5px;
}

.iconweb-sun.mini {
  background-position: -182.5px      -62.5px;
}

.iconweb-star.mini {
  background-position: -212.5px      -62.5px;
}

.iconweb-man.mini {
  background-position: -242.5px      -62.5px;
}

.iconweb-women.mini {
  background-position: -272.5px      -62.5px;
}

.iconweb-cites.mini {
  background-position: -2.5px      -92.5px;
}

.iconweb-car.mini {
  background-position: -32.5px      -92.5px;
}

.iconweb-crayons.mini {
  background-position: -62.5px      -92.5px;
}

.iconweb-water.mini {
  background-position: -92.5px      -92.5px;
}

.iconweb-stories.mini {
  background-position: -122.5px      -92.5px;
}

.iconweb-messages.mini {
  background-position: -152.5px      -92.5px;
}

.iconweb-lyrics.mini {
  background-position: -182.5px      -92.5px;
}

.iconweb-jokes.mini {
  background-position: -212.5px      -92.5px;
}

.iconweb-quotes.mini {
  background-position: -242.5px      -92.5px;
}

.iconweb-info.mini {
  background-position: -272.5px      -92.5px;
}

.iconweb-setting.mini {
  background-position: 2.5px      -122.5px;
}

.iconweb-situation.mini {
  background-position: -32.5px      -122.5px;
}

.iconweb-out.mini {
  background-position: -62.5px      -122.5px;
}

.iconweb-blue-video.mini {
  background-position: -92.5px      -122.5px;
}

.iconweb-blue-headphone.mini {
  background-position: -122.5px      -122.5px;
}

.iconweb-blue-image.mini {
  background-position: -152.5px      -122.5px;
}

.iconweb-blue-text.mini {
  background-position: -182.5px      -122.5px;
}

.iconweb-blue-hispeople.mini {
  background-position: -212.5px      -122.5px;
}

.iconweb-blue-drama.mini {
  background-position: -242.5px      -122.5px;
}

.iconweb-blue-abuses.mini {
  background-position: -272.5px      -122.5px;
}

.iconweb-comment.mini {
  background-position: -2.5px      -152.5px;
}

.iconweb-globe.mini {
  background-position: -32.5px      -152.5px;
}

.iconweb-friend.mini {
  background-position: -62.5px      -152.5px;
}

.iconweb-view.mini {
  background-position: -92.5px      -152.5px;
}

.iconweb-good.mini {
  background-position: -122.5px      -152.5px;
}

.iconweb-most.mini {
  background-position: -152.5px      -152.5px;
}

.iconweb-owner.mini {
  background-position: -182.5px      -152.5px;
}

.iconweb-flag-arabic.mini {
    background-position: -213.5px    -154px;
}

.iconweb-flag-english.mini {
    background-position: -242.5px   -154px;
}

.iconweb-flag-france.mini {
    background-position: -273.5px   -154px;
}
