.btn {
    background-color:#fff;
    background-image:none;
    border-color:#dedede;
    color:#00a3e0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #00a3e0;
  background-color: #fff;
  *background-color: #fff;
}

.btn-blue{
    background-color:#00a3e0;
    background-image:none;
    border-color:#00a3e0;
    color:#fff;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #fff;
  background-color: #00a3e0;
  *background-color: #00a3e0;
}