@font-face {
  font-family: DroidNaskh-Regular;
  src: url('../fonts/DroidNaskh-Regular.eot?v=3.0.1');
  src: url('../fonts/DroidNaskh-Regular.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/DroidNaskh-Regular.ttf?v=3.0.1') format('truetype');
}

body {
    background-color: #f3f4f2;
    color: #3c3c3c;
    font-family: DroidNaskh-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

div, input, select, textarea, span, img, table, td, th, p, a, button, ul, li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.tooltip-inner{
    padding: 4px 8px;
    border-radius: 4px !important;
}

.menu-icon{
    text-align:right;
    z-index: 1031;
}

.menu-icon hr{
    margin: 5px 0;
}

ul.menu-icon, ul{
    list-style:none;
    margin:0;
}

    .menu-icon li a {
        display:block;
        padding:5px 10px;
        text-decoration:none;
        line-height:30px;
    }

    .menu-icon > li a:before,
    .menu-icon > li a:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .menu-icon > li a:after {
        clear: both;
    }

.menu-icon li > a:hover {
    background-color:#f5f5f5;
    background-image:none;
}

.menu-icon li .menu-child{
    display:none;
    position:absolute;
    top: 0;
    left: auto;
    right: 100%;
    z-index: -1;
    margin-right: -1px;
    height:100%;
    background-color: #fff;
}

.menu-icon li .control{
    float:left;
    line-height:50px;
}

.menu-icon > li:hover .menu-child{
    display:block;
}

.menu-icon > li .item:before,
.menu-icon > li .item:after {
    display: table;
    line-height: 0;
    content: "";
}

.menu-icon > li .item:after {
    clear: both;
}

.menu-icon .menu-header{
    padding-left:5px;
    padding-right:5px;
}

.menu-icon .menu-header a{
    line-height:30px;
}

.menu-icon .menu-header h3 {
    margin:0;
    font-size:10px;
    line-height:30px;
    color:#00a3e0;
    white-space:nowrap;
}

.menu-icon .menu-header:before,
.menu-icon .menu-header:after {
    display: table;
    line-height: 0;
    content: "";
}

.menu-icon .menu-header:after {
    clear: both;
}

.menu-icon .menu-footer{
    margin-bottom: -5px;
    padding: 5px;
    font-size:12px;
}

.menu-icon .info{
    float:right;
    padding-right:10px;
}

.menu-icon .box.large + .info {
    max-height: 40px;
}

.menu-icon .box.xlarge + .info {
    max-height: 50px;
}

.menu-icon .box.large + .info label{
    line-height:15px;
}

.menu-icon .box.xlarge + .info label {
    line-height:14px;
    font-size:10px;
}

.block-fixed{
    position:relative;
}

.page-container{
    width:1224px;
}

.page-container:before,
.page-container:after {
    display: table;
    line-height: 0;
    content: "";
}

.page-container:after {
    clear: both;
}

.page-content{
    width:1024px;
    float:right;
    margin-right:30px;
}

.space.large{
    height:420px;
    width:100%;
}

.page-content:before,
.page-content:after {
    display: table;
    line-height: 0;
    content: "";
}

.page-content:after {
    clear: both;
}

.wapper {
    border: solid 1px #c4cde0;
    margin-bottom: 25px;
    background-color:#fff;
}

.wapper-inner{
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wapper-inner:before, .wapper-inner:after {
    display: table;
    line-height: 0;
    content: "";
}

.wapper-inner:after {
    clear: both;
}

.offset-right{
    margin-right:200px;
}

.page-sidebar{
    width:170px;
    float:right;
    min-height:30px;
}

.sidebar-inner{
    position:absolute;
    height:100%;
    width:170px;
    background-color:#ecedec;
    z-index:900;
    -webkit-transition: right .5s ease-in-out;
    -moz-transition: right .5s ease-in-out;
    -ms-transition: right .5s ease-in-out;
    -o-transition: right .5s ease-in-out;
    transition: right .5s ease-in-out;
}
.sidebar-inner.on {
    right:0;
}

.btn-sidebar {
    display:none;
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px !important;
    font-size: 28px;
    background-color: #ecedec;
    text-decoration:none !important;
}

.sidebar-fixed{
    position:absolute;
    height:100%;
}

.sidebar-inner a:not(.btn-sidebar) {
    min-width:170px;
}

.sidebar-inner hr{
    margin:10px 0;
}

.sidebar-inner .menu-icon > li > a > .box {
        margin-left: 20px;
    }

    .sidebar-inner .title {
        padding: 20px 10px 20px 0;
        font-weight: bold;
        color: #00a3e0;
    }
        .sidebar-inner .title .box {
            margin-left:20px;
        }

        .sidebar-inner .title a {
            text-decoration:none;
            line-height:30px;
            color:#00a3e0 !important;
        }
        
        .sidebar-inner .menu-icon{
            font-weight:bold;
        }

        .sidebar-inner .menu-icon > li{
            border-top:1px solid #dadada;
            border-bottom: 1px solid #ecedec;
            margin-left:1px;
        }
        .sidebar-inner .menu-icon > li:last-child{
            border-bottom: 1px solid #dadada;
        }
            .sidebar-inner .menu-icon > li > a {
                padding: 10px;
                color: #3c3c3c;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

        .sidebar-inner .menu-icon > li:hover {
            background-color: #fff;
            border-top:1px solid #005170;
            border-bottom: 1px solid #005170;
            margin-left:0;
        }

    .sidebar-inner .menu-icon > li:hover > a{
        background-color:transparent;
        border-left: 1px solid #fff;
    }

    .sidebar-inner .menu-icon > li.languages .menu-child li a{
        text-transform:uppercase;
    }

.sidebar-inner .menu-child > li > a {
    color: #3c3c3c;
    padding: 0;
    min-width: 150px;
    text-align: center;
    padding-left: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space:nowrap;
}

.sidebar-inner .menu-child {
    padding: 20px;
    border-right: 1px solid #005170;
    border-left: 1px solid #005170;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .sidebar-inner .menu-icon.sub-menu > li > a:hover {
        background-color: #fff;
        border:none;
    }

.top-bar {
    padding: 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom:30px;
}

    .top-bar .search form {
        margin-bottom: 0;
    }
    
    .top-bar .search .group{
        float: right;
    }

    .top-bar .search .text {
        color: #00a3e0;
        text-decoration: underline;
        font-size: 11px;
        display: inline-block;
        margin-bottom: 0;
        line-height: 35px;
    }

    .top-bar .search .advanced {
        margin-left: 10px;
        border: solid 1px #d1d2d5;
        margin-right: -1px;
        display:inline-block;
    }

    .top-bar .search .input-append {
        float: right;
        margin-bottom: 0;
    }

        .top-bar .search .input-append input {
            height: 25px;
            border-left: none;
            width:410px;
        }

    .top-bar .search .add-on {
        height: 25px;
        padding: 4px 8px;
        line-height: 25px;
        background-color: #fff;
        border-right: none;
        color: #d45031;
    }

    .sellect {
    line-height: 33px;
    width: 90px;
    padding-right: 10px;
    display: block;
    text-decoration: none !important;
    color: #000 !important;
}

    .sellect > i {
        float: left;
        line-height: 33px;
        padding: 0 4px;
    }

    .top-bar .social {
        margin-top: 8px;
    }

    .top-bar .social ul {
        margin-bottom: 0;
        list-style: none;
    }

        .top-bar .social ul li {
            float:left;
            margin-left:3px;
        }

            .top-bar .social ul li .box {
                margin-left: 0;
            }

    .top-bar .social .box {
        color: #3c3c3c;
        min-height: 20px;
        min-width: 20px;
        line-height: 20px;
        font-size:14px;
        background-color: #ecedec;
    }

    .top-bar .social a {
        text-decoration: none !important;
    }

        .top-bar .social a:hover .box {
            color: #d24726;
        }

header{
    background-color:#00a3e0;
    margin-bottom:30px;
}

.logo{
    width: 170px;
    float: right;
    display:block;
    text-decoration: none !important;
}

.logo h1{
    font-size: 25px;
    
    background-color: #006991;
    line-height: 55px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-left: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header .arrow{
    background-color:#005170;
    float:right;
    line-height:55px;
    width:20px;
    margin-right:-20px;
    text-align:center;
    position:relative;
}

    header .arrow > a {
        text-decoration:none;
        color:#fff;
        display:block;
    }

header .arrow .menu-icon{
    min-width:350px;
    margin-right:-30px;
}

header .arrow .menu-icon li a .info{
    border-right:solid 1px #c3c3c3;
    padding-right:10px;
}

header .arrow .menu-icon li a:hover{
    background-color:#005170;
    color:#fff;
}

    header .arrow .menu-icon li a:hover .text {
        color:#fff;
    }

    header .arrow .menu-icon li .item > .info span{
        display:block;
    }

    header .arrow .menu-icon li .item > .box.large + .info span{
        line-height:20px;
    }

.top-nav{
    margin-right:200px;
}
.top-nav .navbar{
    margin-bottom:0;   
}

    .top-nav > .navbar > ul > li > a {
        display: block;
        padding: 10px 5px;
        line-height: 33px;
        color: #fff !important;
        text-decoration: none !important;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

    .top-nav > .navbar > ul > li:first-child > a {
        padding-right:0;
    }

.top-nav .user > a{
    padding-right:0;
}

.top-nav .user .avatar{
    border:1px solid #47bdea;
    width:33px;
    height:33px;
}

.top-nav .user > .menu-icon{
    border:1px solid #00a3e0;
}

    .top-nav .user > .menu-icon > li a {
        padding-top:3px;
        padding-bottom:3px;
        color:#3b3841;
    }

    .top-nav .user > .menu-icon > li > a > .box{
        color:#3b3841;
    }

    .top-nav .user > .menu-icon > li .situation .box{
        margin-right:5px;
    }

.top-nav .user .situation{
    background-color:#34313a;
}

.top-nav .user .situation li a{
    color:#fff !important;
}

.top-nav .user .situation li a:hover{
    background-color:#3b3841;
}

.situation .box{
    font-size:10px;
}

.situation .available{
    color:#50ae2c !important;
}

.situation .busy{
    color:#d24726 !important;
}

.situation .not-available{
    color:#9e98a9 !important;
}

.user {
    position:relative;
    float:right;
}

.user:before,
.user:after {
  display: table;
  line-height: 0;
  content: "";
}

.user:after {
  clear: both;
}

.user .avatar{
    float:right;
    width:35px;
    height:35px;
    display:block;
}

.user .info{
    float:right;
    margin-right:5px;
}


    .user .info .name {
        white-space:nowrap;
        font-size:14px;
        margin:0;
        line-height:20px;
    }

    .user .info .description{
        font-size:11px;
        line-height:15px;
        display:block;
    }

    .user .info .in-city{
        margin:0;
    }


.my-city{
    margin-right:10px;
    font-weight:bold;
    position:relative;
}

.my-city > a{
    line-height:30px;
}

.my-city .menu-icon{
    padding:0;
    border:1px solid #00a3e0; 
    border-top:none;
    margin-top:-2px;
}

.my-city .menu-icon > li > a{
    font-weight: bold;
    color: #00a3e0;
    border-bottom:1px solid #c6c6c6;
}

.my-city .menu-icon > li:last-child > a{
    border-bottom:none;
}

.my-city .menu-icon > li > a .box{
    color: #00a3e0;
}

.top-nav .navbar .notify > li > a{
    padding-left:0;
    padding-right:0;
}


.notify{
    position:relative;
}

    .notify .tooltip-inner {
        padding-top:2px;
        padding-bottom:2px;
    }

.notify .message{
    color:#7d7d7d;
    white-space:nowrap;
}

.notify .time{
    color:#b1b1b1;
}

.notify .menu-icon .info{
    padding-right:0;
    border-right:none;
    overflow:hidden;
}

.notify .menu-icon > li:hover{
    background-color:#f1f1f1;
}

.notify .menu-icon > li > .item {
    padding: 10px;
    border-top:solid 1px #f1f1f1;
}
    .notify .menu-icon > li:first-child > .item {
        border-top:none;
    }

    .notify .menu-icon > li > .item.new {
        background-color:#effbff;
    }

    .notify .menu-icon > li > .item .name{
        color:#0072c6;
        font-size:11px;
        line-height:15px;
        white-space:nowrap;
        margin-top:0;
        font-weight:normal;
        margin-bottom:5px;
    }

    .notify .menu-icon > li > .item.new .name, .notify .menu-icon > li > .item.new .message, .notify .menu-icon > li > .item.new .time{
        color:#0072c6;
    }

    .notify .menu-icon {
        min-width: 350px;
        border:1px solid #005170;
        border-top:none;
    }

    .notify .scroller .menu-icon{
        border:none;
    }

    .notify .menu-icon .control ~ .info{
        max-width:160px;
    }

    .notify .menu-icon .menu-footer {
        background-color: #005170;
        text-align: center;
    }

    .notify .menu-icon .menu-header {
        padding-left:10px;
        padding-right:10px;
        border-bottom:solid 1px #f1f1f1;
    }

    .messages > .dropdown-menu:before {
        left: 66px !important;
    }

.messages > .dropdown-menu:after {
    left: 67px !important;
}

.messages > .dropdown-menu {
    margin-top:-2px;
}

.notifications > .dropdown-menu:before {
    left: 37px !important;
}

.notifications > .dropdown-menu:after {
    left: 38px !important;
}

.notifications > .dropdown-menu {
    margin-top:-2px;
}

.friends > .dropdown-menu:before {
    left: 8px !important;
}

.friends > .dropdown-menu:after {
    left: 9px !important;
}

.friends > .dropdown-menu {
    margin-top:-2px;
}

.header a, .topic-name a, .topic-stats a, .topic-name a{
    text-decoration:none !important;
    display:inline-block;
}

.header h1{
    margin:0;
    line-height:30px;
    font-size:20px;
    float:right;
}

.header h1 > .sub{
    display: block;
    font-size: 10px;
    line-height: 0px;
}

.most .header h1, .most-good .header h1{
    margin-top:-4px;
    font-size:13px;
}

.multimedia{
    width:100%;
    min-height:220px;
    background-color:#f1f1f1;
    margin-bottom:10px;
}

.texts .multimedia {
    line-height: 30px;
    font-size: 13px;
    padding: 10px;
    min-height:358px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
}

.texts .multimedia p{
    margin-bottom:0;
}

.topic-name h3, .topic-stats h3{
    margin:0;
    line-height:30px;
    font-size:16px;
    float:right;
    white-space:nowrap;
}

.topic-name h3{
    text-decoration:underline;
}

.topic-stats h3{
    color:#333;
}

.topic-stats ul li .box{
    margin-left:0;
}

.topic-stats ul.inline li{
    padding-left:0;
    padding-right:0;
}

.topic-comment{
    background-color:#f1f1f1;
    color:#666666;
}

.topic-comment .nav{
    margin-bottom:0;
}

.topic-comment .nav li{
    border-top:solid 1px #fff;
    border-bottom:solid 1px #fff;
    margin-bottom:-1px;
}
    .topic-comment .nav li:first-child {
        border-top:none;
    }

.topic-comment .nav li:before,
.topic-comment .nav li:after {
    display: table;
    line-height: 0;
    content: "";
}

.topic-comment .nav li:after {
    clear: both;
}

.topic-comment .comment-form{
    margin-bottom:0;
    border-top:solid 1px #fff;
}

    .topic-comment .comment-form .message input {
        margin-bottom: 0;
        height: 40px;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .topic-comment .comment-form .user{
        border-left:none;
        padding-left:0;
    }

    .topic-comment .user {
        padding: 5px;
        float: right;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        max-width:140px;
        border-left:1px solid #e4e4e4;
        margin-left:-1px;
    }

    .topic-comment .user .name{
       font-weight:normal;
       font-size:11px;
    }

.topic-comment .user .avatar{
    height:40px;
    width:40px;
    float:right;
}

.topic-comment .get-comment{
    padding:6px;
    display:block;
    border-bottom:solid 1px #fff;
    text-decoration:none !important;
}

.topic-comment li .message{
    float:right;
    padding:5px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width:315px;
    border-right: 1px solid #e4e4e4;
    font-size:11px;
}

.topic-comment .comment-form .message{
    margin-right:45px;
    padding:5px;
}

    .topic-comment .message > .body {
        display:block;
    }
    
    .topic-comment .message > .datetime {
        display:block;
    }

hr{
    border-top-color:#c5cee0;
    margin: 10px 0;
}

.topic-others .other-item{
    float:right;
    width:50%;
    height:60px;
}

.topic-others .other-item .info{
    float: right;
    height: 40px;
    width: 145px;
    overflow: hidden;
}

.topic-others .other-item .avatar{
    float:right;
    height:40px;
    width:40px;
    margin-left:20px;
}

    .topic-others .other-item .other-inner {
        padding: 10px 20px;
        display: inline-block;
        background-color: #f1f1f1;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .topic-others .other-item .other-inner:hover h3, .topic-others .other-item .other-inner:hover .views{
        color:#fff !important;
    }

.topic-others .other-item .info h3{
    font-size:12px;
    line-height:20px;
    margin:0;
    white-space: nowrap;
    color:#333;
}

.topic-others .other-item .info .views{
    margin-top:4px;
    display:block;
    line-height:20px;
}
    .topic-others .other-item .info .views i{
            font-size:16px;
    }

    .topic-others .carousel {
        margin-bottom: 0;
    }

.topic-others .carousel-control{
    border: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 14px;
    border-right: 1px solid #f1f1f1;    
    margin-top:0;
    font-size:14px;
    opacity:1;
}
.topic-others .carousel-control i{
    line-height:60px;
}

.topic-others .carousel-control.right{
    right: 0;
    left: auto;
    border-right:none;
    border-left: 1px solid #f1f1f1;
}

.addthis{
    float:left;
    margin-top: 6px;
}

.stack-list{
    list-style:none;
    margin:0;
}

.stack-list .popover{
    max-width:455px;
    background-color:rgba(49, 49, 48,0.9);
}

.stack-list .popover .arrow::after{
    border-bottom-color:rgba(49, 49, 48,0.9);
}

.stack-list:before,
.stack-list:after {
  display: table;
  line-height: 0;
  content: "";
}

.stack-list:after {
  clear: both;
}

.stack-list li{
    float:right;
    margin-left:2px;
}

    .stack-list li a{
        display:block;
    }

    .stack-list > li > img{
        height:38px;
        width:38px;
    }

.stack-list li:last-child{
    margin-left:0;
}

.stack-list li .add{
    background-color:#e7eaf2;
    color:#7a92bc;
    line-height:38px;
    display:block;
    text-decoration:none;
}

.stack-list li .add:hover{
    background-color:#00a3e0;
    color:#fff;
}

.chatting{
    position:absolute;
    bottom:0;
}

.chatting .avatar{
    height:25px;
    width:25px;
}

.chatting .info .name{
    font-size:10px;
    line-height:25px;
    float:right;
    width:110px;
    overflow:hidden;
    color:#555555;
}

.chat-list {
    max-width: 200px;
    border: 1px solid #bec3cf;
    float: right;
    position:relative;
}

.chatting .menu-icon{
    background-color:#fff;
}

    .chatting .menu-icon .menu-header {
        background-color:#e8ebf4;
    }

    .chatting .menu-icon .menu-header h3, .chat-list .menu-icon .menu-header a{
        color:#555;
    }
        .chatting .menu-icon .menu-header a {
            text-decoration:none !important;
        }

.chatting .menu-icon .box{
    float:left;
    margin-left:-10px;
    min-height:25px;
    min-width:25px;
    line-height:25px;
}

.chatting .chats {
    padding: 5px;
    display: block;
    text-decoration: none !important;
    color: #333;
    font-weight: bold;
    line-height: 30px;
    border-top: 1px solid #d9dce3;
    width: 185px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .chatting .chats .box.icon-users{
        color:#333;
        font-size:14px;
    }
        .chatting .chats .box + .box {
            margin-right: -25px;
        }

.list-chat{
    position: absolute;
    bottom: 100%;
    width:185px;
    border:1px solid #d9dce3;
    border-bottom:none;
}

.chats-users{
    float:right;
    margin-right:30px;
}

footer{
    background-color:#00a3e0;
    color:#fff;
    position:relative;
    margin-bottom:-1px;
}

footer .offset-right{
    width:1024px;
}

footer .copy{
   float:left;
   line-height:60px;
}

footer .breadcrumb{
    background-color:transparent;
    margin-bottom:0;
    padding:0;
}

    footer .breadcrumb li {
        -webkit-text-shadow: none;
        text-shadow: none;
    }
        footer .breadcrumb li a {
            color:#fff;
            line-height:60px;
            text-decoration:none !important;
        }

.tooltip-item {
    color:#fff;
}

.tooltip-item:before,
.tooltip-item:after {
  display: table;
  line-height: 0;
  content: "";
}

.tooltip-item:after {
  clear: both;
}

.popover-content:before,
.popover-content:after {
  display: table;
  line-height: 0;
  content: "";
}

.popover-content:after {
  clear: both;
}

.tooltip-item .avatar{
    width:60px;
    height:60px;
    border:1px solid #323234;
}

.tooltip-item .info{
    margin-right: 10px;
    width: 250px;
}

.tooltip-item .info .name, .tooltip-item .info .in-city{
    line-height:30px;
    font-size:12px;
}

.tooltip-item .stats{
    float:left;
    font-weight: bold;
    text-align:center;
    line-height:30px;
}

    .tooltip-item .stats p {
        margin-bottom:0;
    }

.tooltip-item .stats .content{
    border-left:1px solid #000;
    padding-left:10px;
}

.tooltip-item .stats .content, .tooltip-item .stats .resident{
    margin-left:10px;
    display:inline-block;
}

.tooltip-item .stats .number{
    font-size:15px;
}

.box {
    color: #fff;
    min-width: 30px;
    min-height: 30px;
    font-size:20px;
    margin-left: 10px;
    line-height: 30px;
    text-align:center;
    float:right;
}

.box.black{
    background-color:#333 !important;
}

.box.gray{
    background-color:#f1f1f1 !important;
}

.box.transparent {
    background-color:transparent !important;
}

    .box.large {
        font-size:30px;
        min-width: 40px;
        min-height: 40px;
        line-height: 40px;
    }

    .box.xlarge {
        font-size:40px;
        min-width: 50px;
        min-height: 50px;
        line-height: 50px;
    }

.forum .box {
    background-color: #00a3e0;
}
.forum .text{
    color: #00a3e0;
}

.languages .box {
    background-color: #006991;
}
.languages .text{
    color: #006991;
}
.languages .topic-stats ul li:hover .box, .languages .menu-child li a:hover .box{
    background-color:#006991 !important;
    color:#fff;
}
.languages .menu-child li a:hover {
    background-color:#005170 !important;
    color:#fff;
}

.texts .box, .texts .topic-others .other-item .other-inner:hover, .texts .topic-others .carousel-control {
    background-color: #bd1d49;
}
.texts .text, .texts .topic-others .other-item .info .views{
    color: #bd1d49;
}
.texts .topic-stats ul li:hover .box{
    background-color:#bd1d49 !important;
    color:#fff;
}
.texts .topic-stats ul li:hover .box, .texts .menu-child li a:hover .box{
    background-color:#bd1d49 !important;
    color:#fff;
}
.texts .menu-child li a:hover {
    background-color:#a10c35 !important;
    color:#fff;
}

.images .box, .images .topic-others .other-item .other-inner:hover, .images .topic-others .carousel-control {
    background-color: #67b239;
}
.images .text, .images .topic-others .other-item .info .views{
    color: #67b239;
}
.images .topic-stats ul li:hover .box{
    background-color:#67b239 !important;
    color:#fff;
}
.images .topic-stats ul li:hover .box, .images .menu-child li a:hover .box{
    background-color:#67b239 !important;
    color:#fff;
}
.images .menu-child li a:hover {
    background-color:#498e1e !important;
    color:#fff;
}

.sound .box, .sound .topic-others .other-item .other-inner:hover, .sound .topic-others .carousel-control {
    background-color: #de5630;
}
.sound .text, .sound .topic-others .other-item .info .views{
    color: #de5630;
}
.sound .topic-stats ul li:hover .box{
    background-color:#de5630 !important;
    color:#fff;
}
.sound .topic-stats ul li:hover .box, .sound .menu-child li a:hover .box{
    background-color:#de5630 !important;
    color:#fff;
}
.sound .menu-child li a:hover {
    background-color:#c03d19 !important;
    color:#fff;
}

.video .box, .video .topic-others .other-item .other-inner:hover, .video .topic-others .carousel-control {
    background-color: #0072c6;
}
.video .text, .video .topic-others .other-item .info .views{
    color: #0072c6;
}
.video .topic-stats ul li:hover .box, .video .menu-child li a:hover .box{
    background-color:#0072c6 !important;
    color:#fff;
}
.video .menu-child li a:hover {
    background-color:#075c9a !important;
    color:#fff;
}

.city .box {
    background-color: #363871;
}
.city .text{
    color: #363871;
}

.wall .box {
    background-color: #333333;
}
.wall .text{
    color: #333333;
}

.about .box{
    background-color:#0072c6;
}
.about .text{
    color:#0072c6;
}

.conditions .box{
    background-color:#de5630;
}
.conditions .text{
    color:#de5630;
}

.privacy-policy .box{
    background-color:#67b239;
}
.privacy-policy .text{
    color:#67b239;
}

.how-to .box{
    background-color:#bd1d49;
}
.how-to .text{
    color:#bd1d49;
}

.contact .box{
    background-color:#363871;
}
.contact .text{
    color:#363871;
}

.most .box, .most-good .box{
    background-color:#00a3e0;
}

.most .text, .most-good .text{
    color:#00a3e0;
}