@media (min-width: 1200px) {
    .page-content .row-fluid .span6{
        margin-right:2.34375%;
        width:48.828125%;
    }
    .page-content .row-fluid .span6:first-child{
        margin-right:0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .page-container{
        width:924px;
    }

    .page-content{
        width:724px;
    }

    .page-content .span6{
        float:none;
        margin-right:0;
        width:100%;
    }

    footer .offset-right {
        width: 724px;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }

    .page-container{
        width:100%;
    }

    .page-content{
        width:100%;
        margin-right:0;
    }

    footer .offset-right {
        width: 100%;
        margin-right:0;
    }

    .sidebar-inner {
        right:-170px;
        top:0;
    }

    .sidebar-inner .title {
        padding: 12px 10px 12px 0;
    }

    .btn-sidebar{
        display:block;
    }

    .page-sidebar{
        min-height:0;
    }

    .logo {
        width: 100%;
        float: right;
    }

    .top-nav {
        margin-right: 0px;
        padding: 0 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    header .arrow .menu-icon{
        left:0;
        right:auto;
    }

    .top-bar .search .input-append input{
        width:auto;
    }
}

@media (max-width: 480px) {
    .topic-others .other-item{
        float:none;
        width:100%;
    }

    .topic-others .carousel-control i{
        line-height:120px;
    }

    header .arrow .menu-icon{
        min-width:250px;
    }
}
